<nav class="navbar sticky-top navbar-expand-lg navbar-dark background-dark">
    <div class="container-xl">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">
            <img src="/assets/curly_logo.jpg" alt="" width="30" height="30" class="d-inline-block align-text-top">
            Curlycircle Handmade
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" [attr.aria-expanded]="isExpanded" aria-label="Toggle navigation"
            (click)="toggle()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ show: isExpanded }">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/productCategories" routerLinkActive="active">Termékek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/kapcsolat" routerLinkActive="active">Kapcsolat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/informaciok" routerLinkActive="active">GYIK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/adatok" routerLinkActive="active">adatok(toDelete)</a>
                </li>
            </ul>
            <a href="https://www.instagram.com/curlycircle.handmade/" target="_blank" class="fs-5">
                <fa-icon [icon]="faInstagram" class="text-light mx-1"></fa-icon>
            </a>
            <a href="https://www.facebook.com/CurlyCircle.handmade/" target="_blank" class="fs-5">
                <fa-icon [icon]="faFacebook" class="text-light mx-1"></fa-icon>
            </a>
            <a href="https://www.youtube.com/channel/UCkOE0VFiBrKsTX1yV83sL4g" target="_blank" class="fs-5">
                <fa-icon [icon]="faYoutube" class="text-light mx-1"></fa-icon>
            </a>
        </div>
    </div>

</nav>