<div fxLayout="column" fxLayoutAlign="center space-between" fxLayoutGap="1em" class="cart-container mat-elevation-z8">
    <ng-container *ngIf="dataSource.data.length <= 0;">
        <h2>Üres a kosarad.</h2>
    </ng-container>

    <ng-container *ngIf="dataSource.data.length > 0">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef>Termék</th>
                <td mat-cell *matCellDef="let element">
                    <div class="product-container">
                        <img *ngIf="element.product.imageUrls.length > 0; else noImageBlock"
                            [src]="imagesBaseUrl + element.product.imageUrls[0]" class="product-image">
                        <ng-template #noImageBlock>
                            <img [src]="noImageUrl" class="product-image">
                        </ng-template>
                        <p class="mat-title">{{element.product.name}}</p>
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef>Összesen</td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Ár</th>
                <td mat-cell *matCellDef="let element">{{element.price | huf}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Mennyiség</th>
                <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="removeItem(element)">
                        <mat-icon>close</mat-icon>
                    </button>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Részösszeg</th>
                <td mat-cell *matCellDef="let element">{{element.price * element.quantity | huf}}</td>
                <td mat-footer-cell *matFooterCellDef>{{total | huf}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div>
                <button mat-raised-button color="warn" (click)="clearCart()">Kosár ürítése</button>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="checkout()">Tovább a rendeléshez</button>
            </div>
        </div>
    </ng-container>
</div>