.cart-container {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1em;
    padding: 1em;
}

table {
    width: 100%;
}

.product-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;

    p {
        margin: 0px;
    }
}

.product-image {
    width: 20em;
    border-radius: 1em;
}

tr.mat-footer-row {
    font-weight: bold;
    border-top: 2px solid #e0e0e0;
}

.mat-column-price {
    text-align: center;
}

.mat-column-quantity {
    text-align: center;
}

.mat-column-total {
    text-align: center;
}

.mat-column-delete {
    text-align: center;
    width: 5em;
}