<div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start stretch" class="product-categories">
    <div fxFlex="350px" *ngFor="let productCategory of productCategories" fxLayoutAlign="center stretch">
        <mat-card (click)="onProductCategoryClicked(productCategory.id)" class="product-category-card">
            <mat-card-title>{{productCategory.name}}</mat-card-title>
            <img mat-card-image src="http://localhost:5000/images/placeholder.jpg" alt="Image of a product category">
            <mat-card-content>
                <p>
                    {{productCategory.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>