.confirm-order-container {
    h1 {
        padding-top: 2em;
        padding-bottom: 1em;
        text-align: center;
    }

    #order-details {
        padding-bottom: 1em;
        text-align: center;
    }

    #button-container {
        margin: auto;
    }

    button {
        margin: 0em 0.5em;
    }
}