<main>
    <div class="container px-5 my-5">
        <header class="text-center mb-5">
            <h1 class="fw-bolder">Miben segíthetünk?</h1>
        </header>

        <div class="row gx-5">
            <div class="col-xl-8">
                <h2 class="fw-bolder mb-3">Gyakran ismételt kérdések</h2>
                <div class="accordion mb-5" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Mikor kapom meg a rendelésem?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio repudiandae maxime quo
                                dolorum sequi sed laboriosam dolores nam, quae eius.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Mit tegyek ha nem kaptam meg a rendelésem?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio repudiandae maxime quo
                                dolorum sequi sed laboriosam dolores nam, quae eius.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Mi a teendő ha eljön a világvége?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio repudiandae maxime quo
                                dolorum sequi sed laboriosam dolores nam, quae eius.
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="fw-bolder mb-3">Szállítás</h2>
                <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore provident magnam,
                    laborum
                    nesciunt perspiciatis aut explicabo aperiam ab? Reiciendis quo quis sequi excepturi nihil.</p>
                <h2 class="fw-bolder mb-3">Visszaküldés és csere</h2>
                <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore provident magnam,
                    laborum
                    nesciunt perspiciatis aut explicabo aperiam ab? Reiciendis quo quis sequi excepturi nihil.</p>
                <h2 class="fw-bolder mb-3">Felhasználási feltételek</h2>
                <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore provident magnam,
                    laborum
                    nesciunt perspiciatis aut explicabo aperiam ab? Reiciendis quo quis sequi excepturi nihil.</p>
                <h2 class="fw-bolder mb-3">Adatkezelés</h2>
                <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore provident magnam,
                    laborum
                    nesciunt perspiciatis aut explicabo aperiam ab? Reiciendis quo quis sequi excepturi nihil.</p>
            </div>
            <div class="col-xl-4">
                <div class="card border-0 bg-light mt-xl-5">
                    <div class="card-body p-4 py-lg-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="h6 fw-bolder">További kérdésed van?</div>
                                <p class="text-muted mb-4">
                                    Írj nekünk bátran!
                                    <br>
                                    <a href="mailto: placeholder@gmail.com" target="_blank">placeholder@gmail.com</a>
                                </p>
                                <div class="h6 fw-bolder">Kövess minket</div>
                                <a href="https://www.instagram.com/curlycircle.handmade/" target="_blank"
                                    class="fs-5 link-dark">
                                    <fa-icon [icon]="faInstagram" class="mx-1"></fa-icon>
                                </a>
                                <a href="https://www.facebook.com/CurlyCircle.handmade/" target="_blank"
                                    class="fs-5 link-dark">
                                    <fa-icon [icon]="faFacebook" class="mx-1"></fa-icon>
                                </a>
                                <a href="https://www.youtube.com/channel/UCkOE0VFiBrKsTX1yV83sL4g" target="_blank"
                                    class="fs-5 link-dark">
                                    <fa-icon [icon]="faYoutube" class="mx-1"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>