<main>
    <div class="container px-5 my-5">
        <header class="text-center mb-5">
            <h1 class="fw-bolder">Adatvédelmi szabályzat</h1>
        </header>

        <div class="row mx-5">
            <div class="col">
                <h2 class="fw-bolder mb-3">Adatkezelés</h2>
                <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore provident magnam,
                    laborum
                    nesciunt perspiciatis aut explicabo aperiam ab? Reiciendis quo quis sequi excepturi nihil. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Odio doloremque quam quod ut tenetur!
                    Consequuntur ad soluta error. Eligendi ut reiciendis iusto dolorem architecto corporis doloremque
                    veniam, maiores blanditiis rerum, quaerat eaque? Nulla quidem in eveniet molestiae, mollitia soluta
                    atque, eaque laudantium vitae quae illo nihil culpa laborum debitis ea.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore magni praesentium quis
                    cupiditate iste velit reiciendis eaque voluptates sit suscipit nulla obcaecati corporis explicabo
                    quam, accusamus, consectetur saepe. Amet atque cum enim eligendi ex sunt ea delectus sed? Sed ab
                    amet corrupti facere qui, voluptatibus accusantium placeat dolor distinctio nulla?</p>
                <h2 class="fw-bolder mb-3">Lorem, ipsum dolor.</h2>
                <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. At inventore provident magnam,
                    laborum
                    nesciunt perspiciatis aut explicabo aperiam ab? Reiciendis quo quis sequi excepturi nihil.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A quis temporibus minima odit omnis,
                    repudiandae reprehenderit eum asperiores obcaecati sint consequatur soluta nisi labore accusantium
                    ipsam itaque nesciunt voluptatibus hic perspiciatis quae maxime suscipit reiciendis sit. Impedit,
                    saepe ullam. Earum harum qui dignissimos voluptas laboriosam nobis iure iste est culpa illo
                    perspiciatis quos architecto error accusamus saepe, dicta optio necessitatibus, unde id nisi
                    voluptate, exercitationem provident quidem repellat. Sed voluptates, porro eligendi iure aliquam
                    repellat mollitia amet fugiat nesciunt rerum harum temporibus quibusdam vel nam aliquid molestias
                    placeat itaque nihil exercitationem pariatur cum eius ex totam qui. Soluta eligendi repellat
                    provident eos, atque ipsum repudiandae reprehenderit, earum, eaque blanditiis consequuntur itaque
                    rem quod velit quo quisquam architecto vero. Ipsum iusto asperiores magnam ipsam enim iure cumque!
                    Eius vitae sequi commodi, officiis, molestias nulla praesentium iure, inventore et necessitatibus
                    atque perspiciatis soluta aspernatur nesciunt vel. Quis eligendi eveniet adipisci natus saepe, ea
                    modi necessitatibus illum. Aut assumenda doloribus nobis, consectetur voluptatem cum doloremque
                    officia laborum aspernatur, quo corporis! Eos libero repellat amet assumenda deserunt repellendus
                    accusamus esse consequatur! Dolorem porro dolor tempora, enim nesciunt saepe molestias. Dolorem ab
                    fuga delectus temporibus harum inventore error aperiam repellat ipsa tenetur quasi quam, totam quo
                    eum beatae perspiciatis excepturi. Error odio, ipsum fugiat labore, iste, quaerat dignissimos facere
                    officia dolores doloribus inventore beatae exercitationem. Magnam totam ratione quam dolorum ipsa
                    incidunt, eaque voluptatum perspiciatis reiciendis ipsum. Reprehenderit sunt expedita, architecto
                    maiores similique ducimus ut sint corrupti tempora iure! Odit neque odio temporibus, quod quidem,
                    dignissimos sint earum sequi provident in, voluptatibus voluptates nam voluptas asperiores eos
                    veniam possimus distinctio quaerat velit vitae enim? Asperiores dicta reiciendis repudiandae ullam
                    delectus sed autem, nemo quidem quod animi corrupti qui ipsum magnam quis consequuntur voluptatum
                    labore totam maxime quas earum corporis quo ratione! Nihil unde porro ex consectetur hic quae amet,
                    nisi ipsum eligendi eaque aut. Cupiditate similique nesciunt maxime, pariatur quidem suscipit itaque
                    adipisci eveniet porro quam rerum vitae minima magnam tenetur libero a, eum nisi consequatur
                    voluptatum reprehenderit saepe. Nesciunt blanditiis adipisci qui natus quibusdam! Laboriosam
                    corrupti, tempore sunt eius quasi minus nulla, iste sapiente voluptatibus dolorum possimus libero
                    animi aliquid quibusdam modi fugit ducimus architecto cupiditate ratione. Reprehenderit, itaque vero
                    distinctio ducimus sed ipsum, nam omnis, asperiores et modi eos nihil saepe harum. Soluta rerum
                    quisquam maiores nam eius quo architecto, sed fugiat, ut repellendus facilis dolor eaque tempore
                    cumque? Dolorum debitis repudiandae tempora harum cupiditate totam magni distinctio vel vitae
                    expedita sunt asperiores qui hic amet temporibus sint impedit aliquid repellendus, cumque laudantium
                    earum omnis molestiae, odit perspiciatis? Necessitatibus dignissimos hic itaque eos ipsa expedita
                    sequi in iure eum a maiores, ad adipisci nostrum facere impedit. Quas hic, nesciunt aliquid commodi
                    quam cupiditate ipsum! Officia itaque laudantium nemo esse temporibus voluptas architecto voluptate
                    excepturi placeat, quo molestiae doloremque saepe incidunt sequi iste ipsum dolorem cupiditate.
                    Consequuntur nobis similique voluptatum itaque non, molestiae magni autem accusantium blanditiis
                    unde atque laudantium commodi mollitia molestias corrupti! Asperiores, illo deserunt? Aspernatur
                    soluta maxime, eos expedita fuga at pariatur id beatae. Exercitationem iste, repudiandae harum
                    officiis eos, ipsum voluptatem, laudantium quam voluptas voluptatum atque saepe fuga doloremque ab
                    reprehenderit accusantium earum similique a esse minima nemo quidem reiciendis beatae. Iste ab, sint
                    commodi perspiciatis totam in, numquam a architecto eaque doloremque laudantium ex eius vero
                    nesciunt soluta quam nulla dolores ducimus neque perferendis, expedita ad! Repudiandae dolore
                    reiciendis, soluta obcaecati neque laborum odio nihil hic modi, magni corrupti beatae molestias
                    cumque earum dolores eligendi architecto. Quae ipsum, minus illum dolorum tenetur eum numquam
                    molestiae, ullam eveniet nesciunt possimus aut sit iusto harum officiis deserunt quos natus
                    temporibus quia blanditiis minima hic perspiciatis. Maiores molestias velit laboriosam ducimus eius
                    maxime voluptatum quos dolorem fugit neque, blanditiis debitis iusto reiciendis voluptates quia
                    porro doloribus praesentium voluptatem nemo odit, assumenda minima nostrum inventore odio. Quod
                    temporibus molestiae magni iure numquam vitae reprehenderit tenetur neque minus. Accusantium
                    similique porro rerum sapiente ut quidem aperiam eos?</p>
            </div>
        </div>

    </div>
</main>