// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

//define typography
$my-typography: mat.define-typography-config(
    $font-family: 'Abhaya Libre, serif',
    $body-1: mat.define-typography-level($font-size: 18px),
    $body-2: mat.define-typography-level($font-size: 18px),
    $headline: mat.define-typography-level($font-size: 28px),
    $title: mat.define-typography-level($font-size: 24px),
    $button: mat.define-typography-level($font-size: 18px),
    $caption: mat.define-typography-level($font-size: 16px),
);

@include mat.core($my-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$curlyapp-primary: mat.define-palette(mat.$light-green-palette, 900);
$curlyapp-accent: mat.define-palette(
    mat.$deep-purple-palette,
    A200,
    A100,
    A400
);

// The warn palette is optional (defaults to red).
$curlyapp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$CurlyCircleWebApp-theme: mat.define-light-theme(
    (
        color: (
            primary: $curlyapp-primary,
            accent: $curlyapp-accent,
            warn: $curlyapp-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($CurlyCircleWebApp-theme);

/* You can add global styles to this file, and also import other style files */

// Colors

$text-color: mat.get-color-from-palette(mat.$green-palette, 800-contrast);;

$hover-color: mat.get-color-from-palette(mat.$blue-grey-palette, 50);

$footer-background-light-color: mat.get-color-from-palette(mat.$light-green-palette, 200);
$footer-background-dark-color: mat.get-color-from-palette(mat.$light-green-palette, 900);
$primary-color: mat.get-color-from-palette(mat.$light-green-palette, 900);
$secondary-color: mat.get-color-from-palette(mat.$light-green-palette, 200);

// Basic styles

html,
body {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Abhaya Libre', serif;
}

// Icon sizing styles
.material-icons.md-18 {
    font-size: 18px !important;
    height: 18px !important;
    width: 18px !important;
    line-height: 18px !important;
}
.material-icons.md-30 {
    font-size: 30px !important;
    height: 30px !important;
    width: 30px !important;
    line-height: 30px !important;
}
.material-icons.md-36 {
    font-size: 36px !important;
    height: 36px !important;
    width: 36px !important;
    line-height: 36px !important;
}
.material-icons.md-48 {
    font-size: 48px !important;
    height: 48px !important;
    width: 48px !important;
    line-height: 48px !important;
}

.xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline-block;
    border-radius: 4px;
    background-color: mat.get-color-from-palette(mat.$blue-grey-palette, 50);
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
