/* You can add global styles to this file, and also import other style files */
.background-primary {
    background-color: #6A8F6B;
}

.background-light {
    background-color: #99AF9A;
}

.background-dark {
    background-color: #273D27;
}

.background-darker {
    background-color: #1D341D;
}

.background-normal {
    background-color: #425F43;
}

.background-secondary {
    background-color: #FCE495;
}

.background-secondary-dark {
    background-color: #f1bc81;
}

.color-primary {
    color: #6A8F6B;
}

.social-btn:hover {
    background-color: lightgray;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
