// Icon sizing styles
.material-icons.md-18 {
    font-size: 18px !important;
    height: 18px !important;
    width: 18px !important;
    line-height: 18px !important;
}
.material-icons.md-30 {
    font-size: 30px !important;
    height: 30px !important;
    width: 30px !important;
    line-height: 30px !important;
}
.material-icons.md-36 {
    font-size: 36px !important;
    height: 36px !important;
    width: 36px !important;
    line-height: 36px !important;
}
.material-icons.md-48 {
    font-size: 48px !important;
    height: 48px !important;
    width: 48px !important;
    line-height: 48px !important;
}

// Colors
$hover-color: #ECEFF1;

$footer-background-light-color: #C5E1A5;
$footer-background-dark-color: #33691E;
$primary-color: #33691E;
$secondary-color: #C5E1A5;
