mat-sidenav-container,
mat-sidenav {
    height: 100%;
}

mat-sidenav-content {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 0px;
}

.footer {
    margin-top: auto;
}
