.form-content {
    padding-top: 25px;
    padding-bottom: 25px;
}

button {
    margin-bottom: 15px;
}

mat-form-field {
    width: 350px;
}

mat-divider {
    padding-bottom: 15px;
}

.password-hint-container {
    display: inline-flex;
    vertical-align: middle;
}

.password-hint-icon {
    padding-top: 5px;
    padding-left: 5px;
    color: grey;
}
