<div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center stretch" class="products">
    <div fxFlex="25%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%" *ngFor="let product of products"
        fxLayoutAlign="center stretch">
        <mat-card (click)="onProductClicked(product.id)" class="product-card">
            <mat-card-title>{{product.name}}</mat-card-title>
            <img mat-card-image [src]="product.imageUrls[0]" alt="Image of a product">
            <mat-card-content>
                <p>
                    {{product.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>