<footer>
    <div fxLayout="column" fxLayoutAlign="center center" class="footer-top-section">
        <div fxLayout="column" fxLayoutAlign="center center">
            <p>Ha kérdésed van, keress minket bátran:</p>
            <a id="email" href="mailto: curlycircle.handmade@gmail.com" target="_blank">placeholder@gmail.com</a>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayout="space-around" fxLayoutGap="0.5em"
            class="quick-links-container">
            <a fxFlex="1 1 auto">Szállítás</a>
            <a fxFlex="1 1 auto">Visszaküldés és csere</a>
            <a fxFlex="1 1 auto">GYIK</a>
            <a fxFlex="1 1 auto">Felhasználási feltételek</a>
            <a fxFlex="1 1 auto">Adatkezelés</a>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" class="footer-bottom-section">
        <p>&copy; 2022 Curlycircle Handmade</p>
        <div fxLayout="row">
            <a href="https://www.instagram.com/curlycircle.csenge/" target="_blank">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a href="https://www.facebook.com/curlycircle.csenge/" target="_blank">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a href="https://www.youtube.com/channel/UCkOE0VFiBrKsTX1yV83sL4g" target="_blank">
                <fa-icon [icon]="faYoutube"></fa-icon>
            </a>
        </div>
    </div>
</footer>