@use '../../../styles';

.quick-links-container {
    width: 100%;
    text-align: center;
}

.footer-top-section {
    background-color: styles.$footer-background-light-color;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer-bottom-section {
    background-color: styles.$footer-background-dark-color;
    color: white;

    p {
        margin: 16px;
    }

    div {
        margin: 16px;

        a {
            margin: 0px 4px;
            text-decoration: none;
            color: white;
        }

        a:hover {
            color: styles.$hover-color;
        }
    }
}

#email {
    padding-bottom: 1em;
}