<footer class="footer text-light mt-auto">
    <div class="row background-light text-center py-3">
        <div class="col">
            <div class="row">
                <div class="col">
                    Ha kérdésed van, keress minket bátran:
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <a href="mailto: placeholder@gmail.com" target="_blank" class="link-light">placeholder@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-5 justify-content-center background-light text-center pb-3">
        <div class="col-md-auto  py-1"><a class="nav-link link-light" routerLink="/informaciok"
                routerLinkActive="active">Szállítás</a></div>
        <div class="col-md-auto py-1"><a class="nav-link link-light" routerLink="/informaciok"
                routerLinkActive="active">Visszaküldés és csere</a></div>
        <div class="col-md-auto py-1"><a class="nav-link link-light" routerLink="/informaciok"
                routerLinkActive="active">Felhasználási feltételek</a></div>
        <div class="col-md-auto py-1"><a class="nav-link link-light" routerLink="/informaciok"
                routerLinkActive="active">Adatkezelés</a></div>
        <div class="col-md-auto py-1"><a class="nav-link link-light" routerLink="/informaciok"
                routerLinkActive="active">GYIK</a>
        </div>
    </div>
    <div class="row background-primary py-3">
        <div class="col">&copy; 2021 Curlycircle Handmade</div>
        <div class="col text-end">
            <a href="https://www.instagram.com/curlycircle.handmade/" target="_blank" class="fs-5">
                <fa-icon [icon]="faInstagram" class="text-light mx-1"></fa-icon>
            </a>
            <a href="https://www.facebook.com/CurlyCircle.handmade/" target="_blank" class="fs-5">
                <fa-icon [icon]="faFacebook" class="text-light mx-1"></fa-icon>
            </a>
            <a href="https://www.youtube.com/channel/UCkOE0VFiBrKsTX1yV83sL4g" target="_blank" class="fs-5">
                <fa-icon [icon]="faYoutube" class="text-light mx-1"></fa-icon>
            </a>
        </div>
    </div>
</footer>