<div>
    <section id="showcase">
        <h1 class="mat-display-4">Curly Circle</h1>
        <h2 class="mat-display-1">Az eredeti hőmentes hajgöndörítő.</h2>
        <a mat-button routerLink="/shop" routerLinkActive="active" class="mat-display-1">Megnézem</a>
    </section>

    <section id="contact">
        <p class="mat-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, eos. Unde ratione tempore
            totam minima
            officiis quas ullam quae aut!</p>
    </section>
</div>