<div>
    <section id="showcase">
        <h1 class="mat-display-4">Curly Circle</h1>
        <h2 class="mat-display-1">Az eredeti hőmentes hajgöndörítő.</h2>
        <a mat-raised-button color="primary" routerLink="/shop" routerLinkActive="active">Megnézem</a>
    </section>

    <section id="contact" fxLayout="column" fxLayoutAlign="center">
        <h2>Kérdésed merült fel?</h2>
        <p>A gyakori kérdések fül alatt megválaszoltam rengeteg gyakran feltett kérdést.
            Nézd meg, hátha te is megtalálod a kérdésedre a válaszodat!
        </p>
        <p>
            Ha nem akkor írd meg bátran a curlycircle.csenge@gmail.com e-mail címre vagy írj nekem egy üzenetet
            bármelyik social media felületen!
        </p>
        <a href=""></a>
        <a href=""></a>
    </section>
</div>