<div class="order-options-container mat-elevation-z8" fxLayout="column">
    <h1 fxFlexAlign="center">Válassz a következő opciók közül:</h1>
    <div fxLayout="column" fxLayoutAlign="center" class="order-options">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
            <p>Ha gyorsan szeretnél rendelni.</p>
            <button (click)="checkout()" mat-button color="primary">Rendelés regisztráció nélkül</button>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
            <p>Ha később is meg szeretnéd tekinteni a rendelésid.</p>
            <button (click)="registration()" mat-button color="primary">Regisztrálás</button>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
            <p>Van már fiókod nálunk?</p>
            <button (click)="login()" mat-button color="primary">Bejelentkezés</button>
        </div>
    </div>
</div>