mat-form-field {
    width: 100%;
}

.profile-container {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1em;
    padding: 1em;
}

.personal-data-container {
    max-width: 720px;
    width: 100%;
}

.personal-data-form {
    width: 100%;
}

.personal-data-form-row {
    width: 100%;
}

.password-container {
    max-width: 720px;
    width: 100%;
}

.password-form {
    width: 100%;
}

mat-divider {
    margin-bottom: 15px;
    margin-top: 20px;
}

.password-hint-container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 16px;

    h2 {
        margin: 0px;
    }
}

.password-hint-icon {
    color: grey;
}