mat-form-field {
    width: 100%;
}

.personal-data-container {
    max-width: 720px;
    width: 100%;
}

.personal-data-form {
    width: 100%;
}

.personal-data-form-row {
    width: 100%;
}

.password-container {
    max-width: 720px;
    width: 100%;
}

.password-form {
    width: 100%;
}

mat-divider {
    margin-bottom: 15px;
    margin-top: 20px;
}