.order-container {
    margin-top: 1em;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1em;
    padding: 1em;
}

mat-form-field {
    width: 100%;
}

.order-data-form {
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
}

.order-data-form-row {
    width: 100%;

    textarea {
        height: 65px;
        resize: none;
    }
}

mat-radio-group {
    margin: 15px 0;
}

mat-radio-button {
    margin: 5px;
}