<h2 mat-dialog-title>Termék kategória hozzáadása</h2>
<mat-dialog-content>
    <form [formGroup]="productCategoryForm" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="outline">
            <mat-label>Név</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Leírás</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <ngx-mat-file-input formControlName="imageFile" [multiple]="false" accept=".png, .jpg, .jpeg">
                <mat-hint>Válassz ki egy képet</mat-hint>
            </ngx-mat-file-input>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Mégse</button>
    <button mat-button (click)="clickAdd()" [disabled]="!productCategoryForm.valid">Hozzáad</button>
</mat-dialog-actions>