<div class="container">
    <form [formGroup]="form" (submit)="login()" class="form-content">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Felhasználónév</mat-label>
            <input matInput [formControl]="formControls.username" />
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Jelszó</mat-label>
            <input matInput [formControl]="formControls.password" [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Bejelentkezés</button>
    </form>
</div>