<div fxLayout="column" [formGroup]="filterForm">
    <div class="colors-filters" formArrayName="colorsFormArray">
        <h2>Szín:</h2>
        <ul>
            <li *ngFor="let color of colorsFormArray.controls; let i=index">
                <mat-checkbox [formControlName]="i">
                    {{colors[i].name}}
                </mat-checkbox>
            </li>
        </ul>
    </div>
    <div class="pattern-filters" formArrayName="patternsFormArray">
        <h2>Minta:</h2>
        <ul>
            <li *ngFor="let pattern of patterns; let i=index">
                <mat-checkbox [formControlName]="i">
                    {{patterns[i].name}}
                </mat-checkbox>
            </li>
        </ul>
    </div>
    <div class="material-filters" formArrayName="materialsFormArray">
        <h2>Anyag:</h2>
        <ul>
            <li *ngFor="let material of materials; let i=index">
                <mat-checkbox [formControlName]="i">
                    {{materials[i].name}}
                </mat-checkbox>
            </li>
        </ul>
    </div>
    <div>
        <h2>Ár: {{priceValues.value[0] + ' Ft - ' + priceValues.value[1] + '
            Ft'}}</h2>
        <p-slider formControlName="priceValues" [range]="true" [min]="0" [max]="20000" [step]="1000"></p-slider>
    </div>
    <button fxFlexAlign="end" color="warn" mat-button>Szűrők törlése</button>
</div>