<div>
    <div class="colors-filters">
        <h2>Szín:</h2>
        <div *ngFor="let color of colors">
            {{color.name}}
        </div>
    </div>
    <div class="pattern-filters">
        <h2>Minta:</h2>
        <div *ngFor="let pattern of patterns">
            {{pattern.name}}
        </div>
    </div>
    <div class="material-filters">
        <h2>Anyag:</h2>
        <div *ngFor="let material of materials">
            {{material.name}}
        </div>
    </div>
    <div>
        <h2>Ár: {{priceValues[0] + ' Ft - ' + priceValues[1] + ' Ft'}}</h2>
        <p-slider [(ngModel)]="priceValues" [range]="true" [min]="0" [max]="20000" [step]="1000"></p-slider>
    </div>
</div>