<mat-toolbar color="primary">
    <div fxHide.gt-sm>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Curlycircle Webshop</a>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="start" fxHide.lt-md>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/home">Kezdőlap</a>
            </li>
            <li>
                <a routerLink="/product-categories">Termékek</a>
            </li>
            <li>
                <a routerLink="/contact">Kapcsolat</a>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout fxLayoutGap="5px" class="navigation-items">
            <li>
                <button mat-icon-button aria-label="Kosár" matTooltip="Kosár" class="nav-icon-button">
                    <mat-icon [matBadge]="currentCartSize" matBadgeColor="warn" class="material-icons md-30">
                        shopping_cart</mat-icon>
                </button>
            </li>
            <ng-container *ngIf="currentUser !== null">
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Profil" class="nav-icon-button">
                        <mat-icon class="material-icons md-30">account_circle</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/profile" routerLinkActive="active" aria-label="Profil">
                            <mat-icon>person</mat-icon>
                            <span>Profil</span>
                        </button>
                        <button mat-menu-item routerLink="/my-orders" routerLinkActive="active"
                            aria-label="Rendeléseim">
                            <mat-icon>storefront</mat-icon>
                            <span>Rendeléseim</span>
                        </button>
                        <button mat-menu-item routerLink="" routerLinkActive="active" aria-label="Kijelentkezés"
                            (click)="logout()">
                            <mat-icon>logout</mat-icon>
                            <span>Kijelentkezés</span>
                        </button>
                    </mat-menu>
                </li>
            </ng-container>
            <ng-container *ngIf="currentUser === null">
                <li>
                    <button mat-icon-button routerLink="/login" routerLinkActive="active" aria-label="Profil"
                        matTooltip="Profil" class="nav-icon-button">
                        <mat-icon class="material-icons md-30">account_circle</mat-icon>
                    </button>
                </li>
            </ng-container>
        </ul>
    </div>
</mat-toolbar>