@use '../../variables';

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: variables.$hover-color;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-icon-button:hover {
    color: variables.$hover-color;
}

#header {
    height: 80px;
}

#logo {
    float: left;
    width: 100px;
    height: 100px;
}