<div class="container">
    <div class="row justify-content-center">
        <h2 class="my-2">Rendelés adatai</h2>
        <p><strong>Rendelés azonosító:</strong> {{order?.id}}</p>
        <p><strong>Rendelés ideje:</strong> {{order?.orderDateTime}}</p>
        <p><strong>Rendelő neve:</strong> {{order?.name}}</p>
        <p><strong>Email:</strong> {{order?.email}}</p>
        <p><strong>Telefonszám:</strong> {{order?.phoneNumber}}</p>
        <p><strong>Város:</strong> {{order?.city}}</p>
        <p><strong>Irányítószám:</strong> {{order?.zipCode}}</p>
        <p><strong>Cím:</strong> {{order?.address}}</p>
        <p><strong>Total:</strong> {{order?.total}}</p>
        <p><strong>Szállítás:</strong> {{order?.shippingMethod}}</p>
        <p><strong>Fizetés:</strong> {{order?.paymentMethod}}</p>
        <p><strong>Megjegyzés:</strong> {{order?.note}}</p>
    </div>
    <h2 class="my-2">Rendelt termékek</h2>
    <app-table [columns]="orderItemColumns" [dataSource]="orderItems" [rowsClickable]="false"></app-table>
</div>