@use '../../../../../styles';

.product-card:hover {
    cursor: pointer;
    background-color: styles.$hover-color;
}

.product-image {
    padding-left: 5%;
    padding-right: 5%;
}

.product-add-button {
    border-radius: 50%;
}

.filters-container {
    border-radius: 1em;
    height: 600px;
}

.products-container {
}

mat-paginator {
    margin-top: auto;
    border-radius: 1em;
}