<div fxLayout="row" fxLayoutGap="1em" fxLayout.lt-md="column">
    <div class="filters-container mat-elevation-z8" fxFlex="0 0 300px" fxFlex.lt-md="1 1 auto">
        <app-product-filters></app-product-filters>
    </div>
    <div fxLayout="column" class="products-container">
        <div fxLayout="row wrap" fxLayoutGap="2em grid" fxLayoutAlign="center stretch">
            <ng-container *ngFor="let product of products">
                <app-product-card [item]="product" (onCardClickedEvent)="onProductClicked($event)"
                    (onAdminModifyClickedEvent)="onProductModifyClicked($event)"
                    (onAdminDeleteClickedEvent)="onProductDeleteClicked($event)" fxFlex="360px"
                    fxLayoutAlign="center stretch"></app-product-card>
            </ng-container>
            <div fxFlexAlign="center" *ngIf="isAdmin">
                <button (click)="onProductAddClicked()" mat-fab class="product-add-button" color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <p-paginator [rows]="6" [totalRecords]="resultsLength" (onPageChange)="paginate($event)"
            [showFirstLastIcon]="false"></p-paginator>
    </div>
</div>