@use '../../../../variables';

.product-card:hover {
    cursor: pointer;
    background-color: variables.$hover-color;
}

.product-image {
    padding-left: 5%;
    padding-right: 5%;
}

.product-add-button {
    border-radius: 50%;
}

.filters-container {
    border-radius: 1em;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.paginator-container {
    margin-top: 24px;
}